$keep-gary: #584f5f;
$keep-background: #E5ECEF;
$keep-green: #23A570;
$keep-red: #ff5065;
$color-gary: #999;
$color-desc: #ddd;
$color-white: #fff;

$body-color: #555;
$link-color: #555;
$link-hover-color: $keep-gary;
$background-menu: #fcfcfc;
$index-menu: rgba(240,240,240,.7);

$index-menu-width: 150px;
$index-header-height: 60px;
$border-color: #eee;

$font-size-10: 10px;
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-18: 18px;
$font-size-24: 24px;
$font-size-36: 36px;

$user-avatar-size: 30px;

$zindex-1: 10;
$zindex-2: 20;
$zindex-3: 30;
$zindex-4: 40;
$zindex-5: 50;
$zindex-max: 999;