@import "variables";
@font-face {
  font-family: "iconfont";
  src: url('../assets/iconfont/iconfont.eot?t=1487236972892');
  src: url('../assets/iconfont/iconfont.eot?t=1487236972892#iefix') format('embedded-opentype'),
  url('../assets/iconfont/iconfont.woff?t=1487236972892') format('woff'),
  url('../assets/iconfont/iconfont.ttf?t=1487236972892') format('truetype'),
  url('../assets/iconfont/iconfont.svg?t=1487236972892#iconfont') format('svg');
}
:global {
  * {
    box-sizing: border-box;
    -webkit-user-select: none;
  }
  *:before,
  *:after {
    box-sizing: border-box;
    -webkit-user-select: none;
  }
  html {
    font-size: 20px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429; // 20/14
    color: $body-color;
    background-color: transparent;
    margin: 0;
  }

  html,
  body{
    height: 100%;
  }

  p{
    margin: 0 0 10px;
    -webkit-user-select: auto;
  }

  ul{
    padding-left: 10px;
  }
  ul,
  li{
    list-style: none;
  }

  figure{
    margin: 0;
  }

  img{
    vertical-align: middle;
  }
  img[src=""]{
    opacity: 0;
    display: none;
  }

  input,
  button,
  select,
  textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    outline: none;
    -webkit-app-region: no-drag;
  }

  .no-drag{
    -webkit-app-region: no-drag;
  }

  button{
    cursor: pointer;
  }

  .container {
    width: 100%;
    height: 100%;
    display: flex;
  }

  a{
    cursor: pointer;
    color: $link-color;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $link-hover-color;
    }
  }

  .iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .icon-discovery:before { content: "\e600"; }
  .icon-cheer:before { content: "\e602"; }
  .icon-girl:before { content: "\e612"; }
  .icon-prev:before { content: "\e601"; }
  .icon-logout:before { content: "\e6b5"; }
  .icon-exit:before { content: "\e640"; }
  .icon-close:before { content: "\e608"; }
  .icon-tianjia:before { content: "\e633"; }
  .icon-boy:before { content: "\e605"; }
  .icon-more:before { content: "\e634"; }
  .icon-collect:before { content: "\e68c"; }
  .icon-goback:before { content: "\e61e"; }
  .icon-usercenter:before { content: "\e60b"; }
  .icon-play:before { content: "\e6c5"; }
  .icon-keep:before { content: "\e616"; }
  .icon-symbol:before { content: "\e696"; }
  .icon-pause:before { content: "\e62a"; }
  .icon-description:before { content: "\e853"; }
  .icon-share:before { content: "\e61b"; }
  .icon-search:before { content: "\e61d"; }
  .icon-liked:before { content: "\e628"; }
  .icon-training:before { content: "\e615"; }
  .icon-comment:before { content: "\e66a"; }
  .icon-record:before { content: "\e675"; }
  .icon-forward:before { content: "\e854"; }
  .icon-next:before { content: "\e855"; }

  .pull-left{
    float: left;
  }
  .pull-right{
    float: right;
  }
  .text-left{
    text-align: left !important;
  }
  .text-center{
    text-align: center;
  }
  .text-right{
    text-align: right !important;
  }

  .margin{
    margin: 10px;
  }
  .margin-top{
    margin-top: 10px;
  }
  .margin-bottom{
    margin-bottom: 10px;
  }
  .margin-left{
    margin-left: 10px;
  }
  .margin-right{
    margin-right: 10px;
  }
  .padding{
    padding: 10px;
  }


  .font-bold{
    font-weight: bold;
  }

  .fz10{
    font-size: $font-size-10;
  }
  .fz12{
    font-size: $font-size-12;
  }
  .fz14{
    font-size: $font-size-14;
  }
  .fz18{
    font-size: $font-size-18;
  }
  .fz24{
    font-size: $font-size-24;
  }
  .fz36{
    font-size: $font-size-36;
  }

  .keep-background{
    background: $keep-background;
  }
  .white-background{
    background: $color-white;
  }

  .index-content{
    height: 100%;
    margin-left: $index-menu-width;
    background: $keep-background;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .scroll-content{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .article-wrap{
    h4{
      border-left: 2px solid $keep-green;
      padding-left: 5px;
      line-height: 1;
    }
    ul{
      padding-left: 20px;
    }
    li{
      position: relative;

      &:before{
        content: '';
        position: absolute;
        left: -10px;
        top: 9px;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background: $color-white;
      }
    }
    img{
      margin: 20px 0;
    }
  }

  .slide-content-wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    border: 0;
  }

  .show-more{
    display: block;
    text-align: center;
    width: 30px;
    position: relative;

    i{
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }


  .user-avatar{
    max-width: 100%;
    max-height: 100%;
    background: $keep-gary;
    border-radius: 50%;
    cursor: pointer;
  }


  // iconfont
  .iconfont{
    margin-right: 2px;
  }
  .active{
    position: relative;

    &:after{
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 10px;
      width: 5px;
      height: 5px;
      background: $keep-gary;
      border-radius: 50%;
    }
  }


  i.sp-placeholder{
    display: inline-block;
    background: $color-desc;
  }
  span.sp-placeholder{
    min-height: 10px;
    background: $color-desc;
    padding: 0 10px;
    font-size: $font-size-10;
    min-width: 10%;

    & + span.sp-placeholder{
      margin-left: 10px;
    }
  }
  p.sp-placeholder{
    background: $color-desc;
    width: 10%;
    padding: 8px;
    animation: longloading 1.5s ease-in-out infinite;

    & + p.sp-placeholder{
      animation: shortloading 1.5s ease-in-out infinite;
    }
  }
  button.sp-placeholder{
    padding: 0;
    margin: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;

    .sp-placeholder{
      display: block;
      width: 100%;
      height: 100%;
    }
  }

}
@keyframes :global(longloading) {
  0% {width: 20%}
  50% {width: 60%}
  to {width: 20%}
}
@keyframes :global(shortloading) {
  0% {width: 20%}
  50% {width: 40%}
  to {width: 20%}
}