@import "variables";

.art-list{
  width: 100%;
  padding: 10px;
  min-height: 100%;
  background: $color-white;
}

.art-item{
  margin-bottom: 10px;
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.3));
}
.art-inner{
  border-radius: 30px 5px 5px;
  overflow: hidden;
  background: $color-white;
}
.art-header{
  padding: 5px 10px;
  border-bottom: 1px solid $border-color;
  display: flex;
  align-items: center;
  position: relative;
}
.header-avatar{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
}
.header-username{
  margin: 0;
  font-size: $font-size-12;
  font-weight: bold;
  flex: 1;
}
.header-sub{
  font-weight: normal;
  font-size: $font-size-10;
  color: $color-gary;
}
.header-time{
  font-size: $font-size-12;
}
.art-content{
  display: flex;
}
.art-photo{
  width: 200px;
  min-height: 100px;
  align-self: baseline;
}
.art-share-card{
  width: 50%;
  height: 120px;
  box-shadow: 0 0 5px rgba($keep-gary, .9);
  display: flex;
  margin: 10px;
  overflow: hidden;
}
.card-img{
  width: 120px;
  height: 120px;
  background: $color-gary no-repeat center/auto 100%;
}
.card-inner{
  padding: 10px;
  flex: 1;

  p{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
  }
}
.card-title{
  font-size: $font-size-14;
  font-weight: bold;
}
.card-desc{
  color: $color-gary;
  font-size: $font-size-12;
}


.art-txt{
  flex: 1;
  padding: 10px;
  margin: 0;

  a{
    color: $keep-green;
  }
}
.art-footer{
  border-top: 1px solid $border-color;
  display: flex;
  align-items: center;
  height: 39px;
  padding-right: 10px;
}
.art-liked{
  padding: 0 10px;
  border-left: 1px solid $border-color;
}
.footer-inner{
  padding-left: 10px;
  flex: 1;
  border-left: 1px solid $border-color;
}
.item-workout{
  font-size: $font-size-12;
  color: $color-gary;
  padding: 4px 12px 3px 5px;
  border-radius: 15px;
  background: rgba($color-gary, .2);
  min-width: 150px;
}
.footer-btn{
  padding: 10px 0;
  background: none;
  border: none;
  outline: 0;
  transition: all .2s;

  &:hover{
    background: $border-color;
  }

  &:active{
    box-shadow: 0 0 5px rgba(0,0,0,.5) inset;
  }

  &.active{
    color: #000;
    font-weight: bold;
    box-shadow: 0 0 2px rgba($keep-gary,0.9) inset, 0 0 36px rgba($keep-gary,0.7) inset;
  }

}
.footer-sp{
  padding: 0 10px;
  position: relative;
}