@import "variables";

.page-content{
  background: $color-white;
}

.center-header{
  position: relative;
  height: 30%;
  overflow: hidden;
}
.setting-button{
  position: absolute;
  top: 20px;
  right: 20px;
  display: block;
  color: $color-white;
  z-index: $zindex-2;

  &:hover,
  &:focus{
    color: $color-white;
  }
}

.header-back{
  width: 100%;
  height: 100%;
  background: $keep-background center/100% auto no-repeat;

}

.header-inner{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.5);
  display: flex;
  align-items: center;
  padding: 0 10%;
}

.user-avatar{
  width: 100px;
  height: 100px;
  margin-right: 30px;
  border-radius: 50%;
  border: 3px solid $color-gary;
}
.user-info{
  flex: 1;
  line-height: 1;
  color: $color-desc;
}
.user-name{
  font-size: $font-size-18;
  color: $color-white;
  text-shadow: 0 2px 2px #000;
  margin: 5px 0 10px;
}
.user-desc{
  font-size: $font-size-12;
}
.user-other{
  font-size: $font-size-10;
  overflow: hidden;
}
.user-sp{
  padding: 0 10px;
  display: inline-block;
  text-align: center;
  line-height: 1.1;
  position: relative;

  &:first-child{
    padding-left: 0;
  }

  &:after{
    content: '';
    position: absolute;
    top: 12%;
    left: -1px;
    height: 80%;
    border-left: 1px solid $border-color;
  }
}
.center-action{
  padding: 20px 20px 0;
}
.center-action-inner{
  padding: 0 12.5%;
  display: flex;
}
.action-button{
  flex: 1;
  line-height: 0.9;
  padding: 10px;
  border: 1px solid $color-desc;
  border-radius: 30px;
  font-size: $font-size-14;
  background: $color-desc;
  color: $keep-gary;
  transition: all .35s;

  i{
    vertical-align: middle;
    margin-top: -1px;
  }

  & + &{
    margin-left: 20px;
  }

  &:hover{
    border-color: $color-white;
    background: $keep-green;
    color: $color-white;
  }
}
.center-main{
  width: 100%;
  padding: 20px 10px;
}
.center-row{
  display: flex;
  align-items: center;
}
.row-block{
  flex: 1;
  margin: 0 10px;
  background: $background-menu center/auto 100% no-repeat;;
  border: 1px solid $border-color;

  &:hover{
    .row-block-inner{
      background: rgba($keep-green, .95);
      box-shadow: 0 0 15px rgba($keep-green, .8);
    }
    .block-header{
      margin-top: 0;
    }
    .block-caption{
      margin-top: 0;
    }
    .todo-list{
      opacity: 1;
    }
    .caption-sp{
      display: inline;
    }
  }
}
.row-block-inner{
  overflow: hidden;
  height: 47vh;
  padding-top: 10%;
  background: rgba(0,0,0,0.5);
  transition: all .5s;
}
.block-header{
  font-size: $font-size-14;
  color: $color-white;
  padding: 10px;
  text-align: center;
  margin-top: 22%;
  transition: margin .35s;
}
.block-caption{
  width: 100%;
  padding: 10px;
  display: block;
  text-align: center;
  color: $color-white;
  margin-top: 10%;
  font-size: $font-size-10;
  line-height: 2;
  transition: margin .35s;
}
.caption-sp{
  font-size: $font-size-12;
  display: block;
}
.todo-list{
  margin: 0;
  padding: 0;
  color: $color-white;
  opacity: 0;
  transition: opacity .35s;
}
.todo-item{
  display: flex;
  white-space: nowrap;
  padding: 5px 10px;
  font-size: $font-size-12;
}
.todo-sp{
  flex: 1;
  text-align: right;
}
.block-training{
  background-image: url("../assets/images/keep-center-traning.jpg");
}
.block-running{
  background-image: url("../assets/images/keep-center-running.jpg");
}
.block-cycling{
  background-image: url("../assets/images/keep-center-cycling.jpg");
}
.block-badge{
  background-image: url("../assets/images/keep-center-badge.jpg");
}